.full-page-section {
  height: calc(100vh - 20px);
  border-bottom: 1px solid red;
}

.this-is-header {
  position: fixed;
  top: 50px;
  left: 30px;
}

.code-section {
  // background: blue;
}

.skate-section {
  // background: red;
}
